on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: List Forks of current repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NEVER_OVERWRITE: README.md src/theme.css fstab.yaml
          ALWAYS_OVERWRITE: src/lib-franklin.js
        run: |
          # Set variables
          ORG_NAME=$(echo $GITHUB_REPOSITORY | cut -d / -f 1)
          REPO_NAME=$(echo $GITHUB_REPOSITORY | cut -d / -f 2)
          echo $ORG_NAME is the org name
          echo $REPO_NAME is the repo name
          git config --global user.name "Lars (Forking) Trieloff"
          git config --global user.email "lars@trieloff.net"
          FORKS=$(gh repo list elc9aya2ls612j --json parent,name -q '.[] | select(.parent != null and .parent.name == "fork-me") | .name')
          # Loop through the forks
          for FORK in $FORKS; do
            echo $FORK is the current fork
            # Clone the fork
            git  clone "https://$GITHUB_TOKEN@github.com/elc9aya2ls612j/$FORK"
            cd $FORK
            git remote -v
            # Add the upstream
            git remote add upstream "https://$GITHUB_TOKEN@github.com/elc9aya2ls612j/fork-me"
            # Fetch the upstream
            git fetch upstream
            # Checkout the main branch
            git checkout main
            # Merge the upstream
            git merge upstream/main || true

            # All files and globs listed in $NEVER_OVERWRITE will be kept as they are
            for FILE in $NEVER_OVERWRITE; do
              git checkout --ours $FILE || true
            done

            # All files and globs listed in $ALWAYS_OVERWRITE will be overwritten by the upstream
            for FILE in $ALWAYS_OVERWRITE; do
              git checkout --theirs $FILE || true
            done

            # List all the remaining conflicts
            CONFLICTS=$(git diff --name-only --diff-filter=U)
            # If there are conflicts, loop over them
            for CONFLICT in $CONFLICTS; do
              # If the file is in $NEVER_OVERWRITE, skip it
              if [[ $NEVER_OVERWRITE =~ (^|[[:space:]])$CONFLICT($|[[:space:]]) ]]; then
                echo $CONFLICT is in NEVER_OVERWRITE, skipping
                continue
              fi
              echo $CONFLICT is not in NEVER_OVERWRITE, using upstream
              # Checkout the upstream version
              git checkout --theirs $CONFLICT
            done

            # Commit the changes
            git commit -a -m "Merge upstream" --allow-empty
            # Push the changes
            git push
            # Go back to the parent repo
            cd ..
          done
          
      